body{
    display: flex;
    flex-direction: column;
    background-color: #3A0CA3;
    align-items: center;    
}

.content{ /*hier könnte ich noch mit width, max-width oder min-width rumspielen */
    display: flex;
    flex-direction: column;
    gap: 64px;
    max-width: 1500px;
    font-family: Play, sans-serif;
}

.header{
    background-color: #4CC9F0;
    font-size: 64px;
    border-radius: 10px;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Play, sans-serif;
    font-size: 96px;
    font-weight: 700;
}

.info-section{
    display: flex;
    justify-content: space-between;
}

.choice{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    align-items: flex-start;
    text-align: center;
}

.selection-text{
    margin-top: 8px;
}

.player, .computer, .button{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-radius: 15px;
    background-color: #F72585;
}

.winning-message, .score{
    flex: 1;
    font-family: Play, sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #4361EE;
    display: flex;
}

.winning-message{
    justify-content: center;
}

.score{
    justify-content: end;
}

.button-section{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.button{
    border-color: black;
    border-style: solid;
    border-width: 3px;
    padding: 0;
    font-family: Play, sans-serif;
    width: 206px;
    height: 206px;
    background-color: #7209B7;
}

.button:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: 0.07ms;
}

.button:active{
    opacity: 0.5;
}

img{
    width: 150px;
    height: 150px;
}




/* #7209B7  --> lilapink */
