body{
    display: flex;
    flex-direction: column;
    background-color: #3A0CA3;
    align-items: center;
    
}

.content{ /*hier könnte ich noch mit width, max-width oder min-width rumspielen */
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1500px;
}

.header{ /*andere Schriftart und Schriftfarbe*/
    background-color: #4CC9F0;
    font-size: 64px;
    border-radius: 10px;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
}

.info-section{
    display: flex;
    justify-content: space-between;
}

.choice{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
}

.player, .computer, .button{
    width: 130px;
    height: 130px;
    border-style: solid;
    border-radius: 15px;
    background-color: #F72585;
}

.winning-message{
    flex: 1;
}

.score{
    flex: 1;
}




background-color: #7209B7;
